<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{{username}}'s page</title>
</head>

<body>

    <h2>
        {{descriptionValue}}
    </h2>

    <div style="background: black; color: white; margin-bottom: 15px; padding: 8px;">
        Login: {{username}}
    </div>

    <div style="background: black; color:white; margin-bottom: 15px; padding: 8px;">
        Age: {{age}}
    </div>

    <div style="background: black; color:white; margin-bottom: 15px; padding: 8px;">
        Hobbie: {{hobby}}
    </div>

    <a href="/logout" style="margin-bottom: 15px; padding: 8px;">log out</a>

</body>

</html>